<div class="row top-menu">
	<div class="col-lg-1"></div>
	<div class="col-lg-3">
		
		<a href="{{url_for('mainPage')}}"><h4>SolidSponge</h4></a>
		
	</div>
	<div class="col-lg-4"></div>
	<div class="col-lg-3 text-right">
		
		<a href="{{url_for('loginpage')}}"><button>login</button></a>

	</div>
	<div class="col-lg-1"></div>
</div>

</div>
<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-3">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li><strong>{{message}}</strong></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</div>
	<div class="col-lg-4"></div>
</div>