{% extends "base.html" %}
{% block content %}
{% include "header_r.html" %}
<div class="row">	
	<div class="col-lg-3"></div>
	<div class="col-lg-3 text-right">
		<div id="signinButton">
			<span class="g-signin"
			data-scope="openid email"
			data-clientid="{{client_id}}"
			data-redirecturi="postmessage"
			data-accesstype="offline"
			data-cookiepolicy="single_host_origin"
			data-callback="signInCallback"
			data-approvalprompt="force"></span>
		</div>
	</div>
	<div class="col-lg-3"><div id="result"></div></div>


	<script>
		// snippet taken from code in authentication lesson.
		function signInCallback(authResult){
			if(authResult['code']){
				$.ajax({
					type: 'POST',
					url: '/oauth/google',
					processData: false, 
					data: authResult['code'],
					contentType:'application/octet-stream; charset=utf-8',
					success: function(result){
						if (result) {
							$('#result').html('Login Successful!')
							setTimeout(function() {
							window.location.href = "/";
							}, 4000);

						} else if (authResult['error']) {
							console.log('There was an error: ' + authResult['error']);
						} else {
							$('#result').html('Failed to make a server-side call. Check your configuration and console.');
						}

					}

				});
			}
		}
	</script>
	</div>
	<div class="col-lg-4"></div>
</div>
{% endblock %}
